<html>
    <head>
        <script id="head-template" type="text/x-handlebars-template">
            <title>{{title}}</title>
        </script>
        
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/javascripts/bootstrap.min.js"></script> 
        
        <script src="/javascripts/handlebars-v2.0.0.js"></script>
        <script src="/javascripts/handlebarRenderer.js"></script>
    </head>
    <body>
        <script id="body-template" type="text/x-handlebars-template">
            <div class="container">
                <form class="navbar-form" role="form">
                    <input type="text" class="form-control">
                    <button type="submit" class="btn btn-success">{{buttonLabel}}</button>
                </form>
            </div>
        </script>
    </body>
</html>