<html>
	<head>
		<title>TWEB Labo3 - frond end html</title>
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<form class="navbar-form" role="form">
				<input type="text" class="form-control">
				<button type="submit" class="btn btn-success">chercher</button>
			</form>
		</div>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/javascripts/bootstrap.min.js"></script>
	</body>
</html>